@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-SpecialA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  background-color: #292826;
 transform: translate(0, 10%);

}

.title {
  text-align: center;
  font-size: 330%;
  font-family: 'Cafe24Danjunghae';
  font-weight:'bold';
  color: #F9D142;
   transform: translate(0, -900%);
}

.content {
font-size: 150%;
font-family: 'Cafe24Danjunghae';
font-weight: lighter;
text-align: right;
color: #F9D142;
line-height: 160%;
transform: translate(-5%, -310%);
}

.ima{
  text-align: center;
  transform: translate(-10%, 0);
  filter: drop-shadow(-8px 3px 0px #F9D142 );
}

@media (min-width: 767px) {
html {
  height: 100%;
  width: 100%;
  background-color: #292826;
 transform: translate(0, 10%);

}

.title {
  text-align: center;
  font-size: 700%;
  font-family: 'Cafe24Danjunghae';
  font-weight:'bold';
  color: #F9D142;
   transform: translate(0, -900%);
}

.content {
font-size: 250%;
font-family: 'Cafe24Danjunghae';
font-weight: lighter;
text-align: right;
color: #F9D142;
line-height: 160%;
transform: translate(-10%, -410%);
}

.ima{
  text-align: center;
  transform: translate(-10%, 0);
  filter: drop-shadow(-10px 5px 0px #F9D142 );
}


}