@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-SpecialA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  background-color: #FAEBEF;
 transform: translate(0, 10%);

}

.title {
  text-align: center;
  font-size: 450%;
  font-family: 'Cafe24Danjunghae';
  font-weight:'bold';
  color: #333D79;
   transform: translate(0, -350%);
}

.content {
font-size: 180%;
font-family: 'Cafe24Danjunghae';
font-weight: lighter;
text-align: right;
color: #333D79;;
line-height: 160%;
transform: translate(-5%, -310%);
}

@media (min-width: 767px) {
html {
  height: 100%;
  width: 100%;
  background-color: #FAEBEF;
 transform: translate(0, 10%);

}

.title {
  text-align: center;
  font-size: 700%;
  font-family: 'Cafe24Danjunghae';
  font-weight:'bold';
  color: #333D79;
   transform: translate(0, -760%);
}

.content {
font-size: 250%;
font-family: 'Cafe24Danjunghae';
font-weight: lighter;
text-align: right;
color: #333D79;;
line-height: 160%;
transform: translate(-5%, -330%);
}

}